    body{
  background-color: #06010C;
  }
  
  .user{
      background: none;
      color: #fff;
      border: 1px solid #fff;
      padding: 4px;
    }
    .navbarMain{
        background-color: #06010C;
    }
    
    .navbar-toggler{
        background-color:rgb(255, 255, 255); ;
    }
    
    .navbar-brand{
        font-size: 30px;
    }
    
    .navbar-nav .nav-link {
        margin-right: 25px;
        font-size: 20px;
        cursor:pointer;
   }
  .card1{
      background-color: #06010C;
     
  }
  
  .card2{
      background-color: #06010C;
    
  }
  
  .cardContainer{
      color: white;
      background-color: #06010C;
  
  }
  
  .cardContainer2{
      color: white;
      background-color: #06010C;
  
  }
  
  .btnBook{
      background-color: #7b59a3;
      color: white;
 
  }
  
  .cardheader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  }
  
  .card-details {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }
  
  .card-detail-item {
      width: 49%;
      margin-bottom: 10px;
  }
  .btn1{
    background-color: #7b59a3;

  }
  